<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="App">
  <head>
    <meta charset="utf-8">
    <title>Narrow It Down</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="narrController as ctrl">
    <h1>Narrow It Down</h1>

    <div class="">
      <input type="text" name="" ng-model="ctrl.search">
      <button type="button" name="button" ng-click="ctrl.display()">Narrow It Down For Me!</button>
    </div>

  </div>

  <found-items></found-items>
</div>

    <!-- <div class="">
      <ul ng-repeat="items in ctrl.found" ng-if="ctrl.ctrl">
        <li> Name :{{items.name}}, Short Name : {{items.short_name}}, Description : {{items.description}}
          <button type="button" name="button" ng-click="ctrl.remove($index)">Don't want this one!</button> </li>
      </ul>
    </div>

    <div class="" ng-if="ctrl.switch">
      Nothing found
    </div> -->
  </body>
</html>
